/*
 * Define your custom CSS Styles here.
 */
   --color-gray-dark: #38464D;
   --color-gray-dark-alt: #4C606A;
   --color-gray-normal: #607681;
   --color-gray-light: #E5E8E9;

   --color-green: #4A9940;
   --color-orange: #E35726;
   --color-blue: #535EAA;
   --color-marine: #278489;
   --color-red: #D74A39;
   --color-brand: #38464D;
